
@using ChampWebApp.Views.Shared.Components
@{
    ViewData["Title"] = "Home Page";
}
<h1>Home page</h1>

<div class="center">
    @(await Html.RenderComponentAsync<ChampsList>(RenderMode.ServerPrerendered))
</div>